.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  margin: -24px 0px auto;

  input {
    background-color: var(--gray-500);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    color: var(--gray-100);
    padding: 1.6rem;
    flex: 1;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    background-color: var(--blue-dark);
    border: 1px solid var(--gray-700);
    border-radius: 8px;
    color: var(--gray-100);
    padding: 1.6rem;
    cursor: pointer;

    > svg {
      font-size: 1.8rem;
    }
  }
}